body {
  text-align: center;
  background-color: white;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-div {
  margin: 10px;
}